Repository RumenDamyanov/php-chatbot: changes, and which Codecov flags are due for each by the changed paths.
All: core, models, storage

.codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    # Project coverage (overall codebase)
    project:
      default:
        target: auto
        threshold: 5%  # Allow up to 5% drop in total coverage
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false
    
    # Patch coverage (new code in PR)
    patch:
      default:
        target: 80%  # New code should have at least 85% coverage
        threshold: 5%  # Allow some flexibility for edge cases
        base: auto
        if_ci_failed: error
        informational: true
        only_pulls: true

  # Configure what changes are acceptable
  changes:
    default:
      threshold: 5%  # Allow up to 5% change before flagging

# Ignore certain files/directories from coverage
ignore:
  - "tests/**/*"
  - "vendor/**/*"
  - "resources/**/*"
  - "coverage-html/**/*"
  - "*.md"
  - ".github/**/*"
  - ".ai/**/*"
  - "wiki/**/*"

# Comment configuration
comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  branches:
    - master
    - develop

# GitHub Checks configuration
github_checks:
  annotations: true

# Flags for different parts of the codebase (optional)
flags:
  core:
    paths:
      - src/
    carryforward: true
  
  models:
    paths:
      - src/Models/
    carryforward: true
  
  storage:
    paths:
      - src/Support/Storage/
    carryforward: true

# Notification settings (optional)
# comment: false  # Uncomment to disable PR comments

Hotfix: Fix .codecov.yml syntax errors
  .codecov.yml
Due: none

Add comprehensive token tracking and cost optimization system
  src/Contracts/AiModelInterface.php
  src/Models/AnthropicModel.php
  src/Models/DeepSeekAiModel.php
  src/Models/DefaultAiModel.php
  src/Models/GeminiModel.php
  src/Models/MetaModel.php
  src/Models/OllamaModel.php
  src/Models/OpenAiModel.php
  src/Models/XaiModel.php
  src/PhpChatbot.php
  src/Support/ChatResponse.php
  src/Support/CostCalculator.php
  src/Support/ResponseMetadata.php
  src/Support/TokenUsage.php
Due: core, models

Update documentation
  .github/funding.yml
  CHANGELOG.md
  README.md
Due: none

Update tests for the new token tracking feature
  phpunit.xml
  tests/Models/AdditionalModelCoverageTest.php
  tests/Models/AllModelsTest.php
  tests/Models/AnthropicModelEdgeTest.php
  tests/Models/DeepSeekAiModelCoverageTest.php
  tests/Models/DeepSeekAiModelEdgeTest.php
  tests/Models/DefaultAiModelEdgeTest.php
  tests/Models/DefaultAiModelTest.php
  tests/Models/GeminiModelEdgeTest.php
  tests/Models/GptAiModelCoverageTest.php
  tests/Models/MetaGeminiXaiModelTest.php
  tests/Models/MetaModelEdgeTest.php
  tests/Models/ModelEdgeCasesTest.php
  tests/Models/ModelErrorBranchesTest.php
  tests/Models/ModelFactoryCoverageTest.php
  tests/Models/ModelFactoryTest.php
  tests/Models/ModelFallbackBranchesTest.php
  tests/Models/ModelLoggerCoverageTest.php
  tests/Models/OllamaModelTest.php
  tests/Models/OpenAiModelCoverageMaxTest.php
  tests/Models/XaiModelEdgeTest.php
  tests/PhpChatbotEdgeCasesTest.php
  tests/Support/ChatResponseTest.php
  tests/Support/CostCalculatorTest.php
  tests/Support/PhpChatbotTokenTrackingTest.php
  tests/Support/ResponseMetadataTest.php
  tests/Support/TokenUsageTest.php
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Implement Rate limiting, Caching, and Health monitoring
  src/Cache/CacheInterface.php
  src/Cache/FileCache.php
  src/Cache/MemoryCache.php
  src/Config/phpchatbot.php
  src/Health/CacheHealthChecker.php
  src/Health/HealthCheckResult.php
  src/Health/HealthCheckerInterface.php
  src/Health/HealthMonitor.php
  src/Health/HealthStatus.php
  src/Health/ModelHealthChecker.php
  src/Health/StorageHealthChecker.php
  src/PhpChatbot.php
  src/RateLimiting/MemoryRateLimiter.php
  src/RateLimiting/RateLimitException.php
  src/RateLimiting/RateLimiterInterface.php
  src/RateLimiting/RedisRateLimiter.php
  tests/Cache/MemoryCacheTest.php
  tests/Cache/PhpChatbotCacheIntegrationTest.php
  tests/Health/CacheHealthCheckerTest.php
  tests/Health/HealthCheckResultTest.php
  tests/Health/HealthMonitorTest.php
  tests/Health/HealthStatusTest.php
  tests/Health/ModelHealthCheckerTest.php
  tests/Health/StorageHealthCheckerTest.php
  tests/RateLimiting/MemoryRateLimiterTest.php
  tests/RateLimiting/PhpChatbotRateLimitingTest.php
  tests/RateLimiting/RateLimitExceptionTest.php
Due: core

Adjust .codecov.yml for realistic coverage expectations
  .codecov.yml
Due: none

Consistent exception handling across all AI models
  src/Models/AnthropicModel.php
  src/Models/DeepSeekAiModel.php
  src/Models/GeminiModel.php
  src/Models/MetaModel.php
  src/Models/OllamaModel.php
  src/Models/OpenAiModel.php
  src/Models/XaiModel.php
  tests/Models/AdditionalModelCoverageTest.php
  tests/Models/AllModelsTest.php
  tests/Models/AnthropicModelEdgeTest.php
  tests/Models/DeepSeekAiModelCoverageTest.php
  tests/Models/DeepSeekAiModelEdgeTest.php
  tests/Models/GeminiModelEdgeTest.php
  tests/Models/MetaGeminiXaiModelTest.php
  tests/Models/MetaModelEdgeTest.php
  tests/Models/ModelEdgeCasesTest.php
  tests/Models/ModelErrorBranchesTest.php
  tests/Models/OllamaModelTest.php
  tests/Models/XaiModelEdgeTest.php
Due: core, models

Update README.md
  README.md
Due: none

Fix styling
  src/Adapters/Laravel/PhpChatbotServiceProvider.php
  src/Models/AnthropicModel.php
Due: core, models
